footer {
  flex: 0 100 auto;
}

.footer-social {
  border-bottom: 1px solid var(--border-color);
}

.footer-icons {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  aspect-ratio: 1 / 1;
}

.footer-icons li:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.footer-icons li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.footer-links {
  border-bottom: 1px solid var(--border-color);
}

.footer-terms {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.footer-terms a {
  padding: calc(var(--spacing-base) * 2) calc(var(--spacing-base) * 4);

  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.terms-policy,
.terms-help {
  border-right: 1px solid var(--border-color);
}
.terms-policy,
.terms-service {
  border-bottom: 1px solid var(--border-color);
}

.footer-copyright__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--spacing-base);
}
