.page-title {
  border-bottom: 1px solid var(--border-color);
}

.page-title__text {
  padding: var(--spacing-md);
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-primary-700);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
