.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--mantine-spacing-md);
  height: 100%;
}

.full {
  overflow-y: auto;
  height: 100%;
  padding: var(--mantine-spacing-md);
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) 0;
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.nav-left {
  display: flex;
  gap: calc(var(--spacer-base) * 2);
  align-items: center;
}
