@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  max-width: var(--container-sm);
  margin: 0 auto;
  height: 100%;
  @media (min-width: 768px) {
    max-width: var(--container-md);
  }
  @media (min-width: 1024px) {
    max-width: var(----container-lg);
  }
  @media (min-width: 1280px) {
    max-width: var(--container-xl);
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

  background-color: var(--color-surface);
  color: var(--neutral-900);
  --background-image: url("/images/bg-light.png");
  @media (prefers-color-scheme: dark) {
    --background-image: url("/images/bg-dark.png");
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--text-base);
}
header {
  background-image: var(--background-image);
}
nav {
  @media (min-width: 768px) {
  }

  background-image: var(--background-image);
  background-color: var(--color-surface);
  position: sticky;
  top: 0;
  /* left: 0; */
  /* right: 0; */
  /* z-index: 20; */
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
nav.active {
  color: var(--neutral-100);
}
.navbar {
  height: 80px;
  border-bottom: 1px solid var(--gray-200);
  position: relative;
  z-index: 10;
}
.wrapper {
  border-left: 1px solid var(--gray-300);
  height: 100%;
}
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-left: 1px solid var(--gray-300);
  height: 100%;
}

.nav-item {
  display: none;
  border-right: 1px solid var(--gray-300);
  font-weight: var(--font-semibold);
  font-size: var(--text-sm);
  position: relative;
  z-index: 1;
}

.nav-link,
.menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  grid-column: span 2;
}

.nav-item.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--spacing-base) * 2);
  grid-column: span 4;
}

.nav-item.logo:hover {
  background-color: transparent;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-item.lang-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing-base) / 2);
  grid-column: span 2;
}

@media (min-width: 640px) {
  nav.active .nav-item.lang-select {
    border-left: 1px solid var(--gray-300);
  }
}
/*menu*/

.dropdown-menu {
  display: none;
}

.menu-list {
  position: fixed;
  inset: 0;
  background-color: var(--color-primary-950);
  list-style-type: none;
  padding: calc(var(--spacing-base) / 2) 0;
  margin: 0;
  display: none;
}

nav.active .menu-list {
  display: block;
}

.menu-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--neutral-900);
  grid-column: span 2;
}

.lines {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-bottom: 1px solid var(--gray-300);
}
