.avatar {
  border: 3px solid var(--mantine-primary-color-6);
}

.link {
  color: inherit;
}

/* remove outline */
.editor :global(.ProseMirror):focus {
  outline: none;
}
/* set */
.editor :global(.ProseMirror) {
  min-height: 200px;
  max-height: 200px;
}
