.template {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-md) 0;
}

.container {
  flex: 1 0 auto;
  display: flex;
  align-items: start;
  column-gap: var(--mantine-spacing-md);
  @media (max-width: $mantine-breakpoint-sm) {
  }
}
.wrapper {
  height: 100%;
  width: 100%;
}
.card {
  overflow: hidden;
  height: calc(100vh - calc(var(--mantine-spacing-md) * 4) - 55px - 56px);
  @media (min-width: $mantine-breakpoint-md) {
    height: calc(100vh - calc(var(--mantine-spacing-md) * 3) - 55px);
  }
}
