.section {
  border-bottom: 1px solid var(--border-color);
}

.section-title {
  border-bottom: 1px solid var(--border-color);
}

.section-title__text {
  padding: var(--spacing-md);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  color: var(--neutral-900);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.section-content {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: var(--spacing-md);
}

.section-paragraph {
  font-size: var(--text-xl);
  line-height: 1.5;
}

.section-content ol,
.section-content ul {
  padding-left: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  font-size: var(--text-md);
}
