@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: var(--container-sm);
  margin: 0 auto;
  height: 100%;
  padding: 0 var(--spacing-lg);
  @media (min-width: 768px) {
    max-width: var(--container-md);
  }
  @media (min-width: 1024px) {
    max-width: var(----container-lg);
  }
  @media (min-width: 1280px) {
    max-width: var(--container-xl);
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--text-base);
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

  background-image: var(--background-image);
  background-color: var(--color-surface);
  color: var(--neutral-900);
  --background-image: url("/images/bg-light.png");
  @media (prefers-color-scheme: dark) {
    --background-image: url("/images/bg-dark.png");
  }
}
