.template {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  row-gap: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-md) 0;
}

.container {
  flex: 1 0 auto;
  display: flex;
  align-items: start;
  column-gap: var(--mantine-spacing-md);
}
.wrapper {
  height: 100%;
  width: 100%;
}
.card {
  overflow: hidden;
  height: calc(
    100dvh - calc(var(--mantine-spacing-md) * 4) - var(--wiki-nav-height) -
      var(--wiki-footer-height)
  );
  @media (min-width: $mantine-breakpoint-md) {
    height: calc(
      100dvh - calc(var(--mantine-spacing-md) * 3) - var(--wiki-nav-height)
    );
  }
}
